body {
    margin: 0;
    padding: 0;
    background-color: #ffe0e0;
    color: #3a3a3a;
}

hr {
    border: none;
    height: 2px;
    background-color: #cb6767;
    margin: 30px 0;
}

.box {
    background-color: #ffcece;
    border-left: 6px solid #5a2c2c;
    padding: 18px;
    margin-bottom: 25px;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

.box h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.box ul {
    padding-left: 20px;
}

.box ol {
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 6px;
}


a {
    color: #5a2c2c;
    text-decoration: underline;
}

a:hover {
    color: #913a3a;
}



.button {
    display: inline-block;
    padding: 10px 18px;
    background-color: #cb6767;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.button:hover {
    background-color: #5a2c2c;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffe6e6;
    margin-top: 10px;
    margin-bottom: 20px;
}

table th {
    background-color: #cb6767;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #b05a5a;
}

table td {
    padding: 10px;
    border: 1px solid #dca1a1;
}
